/* 
* {
border: 1px dashed green;
}
 */


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0 15px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

.ssApp {
    cursor: pointer;
    padding: 5px;
}

.ssApp .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.ssApp.selected {
    background-color: yellow;
}

.ssApp.selected .score {
    color: black;
}

.ssMenu {
    cursor: pointer;
    padding: 5px;
}

.ssMenu>a {
    padding: 0 15px;
}

#menuSelector>li>a {
    padding: 0 15px;
}

.ssMenu .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.ssMenu.selected {
    background-color: yellow;
}

.ssMenu.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

.ssMenuItem {
    cursor: pointer;
    width: 145px;
	height: 34px;
	margin: 10px 0px 10px 0px;
	position:absolute;
	float:right;
	overflow:hidden;
	font-size: .9em;
}

.ssMenuItem.selected {
    background-color: yellow;
}

.menu{
position: relative;
margin-top: 15px;
margin-left: 15px;
float:left;
width: 200px;
height: 100%;

}
#ssItemEditor{
	float: right;
}
#ssEditor {
    width: 320px;
    height: 403px; 
	position: relative;
	z-index:1;
	float: left;
	border: 1px solid gray;
    margin-top: 39px;
    margin-bottom: 39px;
    margin-left: 5px;
    margin-right: 5px;
}
#ssContainer {
	width: 330px;
}	

.pButton {
	position: relative;
	float:right;
	clear:left;
}

#pageUp {
    position: absolute;
    top: -34px;
}

#pageDown {
    position: absolute;
    bottom: -34px;
}